* {
  font-family: Helvetica;
  box-sizing: inherit;
}

body {
  background-color: white;
  margin: 0;
}

span#name {
  font-size: 40px;
  font-weight: bold;
}

header{
  max-width: 800px;
  padding: 2em;
  overflow: hidden;
  margin: auto;
}

div#name-area{
  float: left;
}

div#contact-info {
  float: right;
  text-align: center;
  
}

/* div#contact-info a {
  text-decoration: none;
} */

.navbar {
  margin: auto;
  max-width: 800px;
  background-color: white;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #AAAAAA;
  box-sizing: inherit;
}

.navbar a {
  color: black;
  text-decoration: none;
  float: left;
  padding:0.375em 1em; 
}

.navbar a:hover {
  background-color: #AAAAAA;
}

.navbar a.selected {
  background-color: #AAAAAA;
}

.mainArea {
  max-width: 800px;
  padding: 1em 2em;
  margin: auto;
}

div.resume-title{
  display:table;
  width:100%;
}

div.resume-title span {
  display: table-cell;
  text-align: center;
  font-weight: bold;
}

div.resume-title span:first-child {
  text-align: left;
}
div.resume-title span:last-child {
  text-align: right;
}

.header {
  visibility: hidden;
  text-decoration: none;
}

/* TODO Is there a better way of doing this link thing? */
#resume:hover .header, 
#parser:hover .header, 
#cpp-purple-air:hover .header,
#isolation-game:hover .header {
  visibility: visible;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.languages {
  font-weight: bold;
}